*.DS_Store
*.class
bin/*
src/ConsoleHost/bin/*
src/*.suo
src/ConsoleHost/obj/*
src/ConsoleHost/StyleCop.Cache
src/ConsoleHost.Web/bin/*
src/ConsoleHost.Common/obj/*
src/ConsoleHost.Common/bin/*
src/ConsoleHost.Web/StyleCop.Cache
src/ConsoleHost.Web/Web.config.private
*/obj/*
.vs/*
*.suo
*.cache
