*.DS_Store
*.class
bin/*
src/ConsoleHost/bin/*
src/*.suo
src/ConsoleHost/obj/*
src/ConsoleHost/StyleCop.Cache
src/ConsoleHost.Web/bin/*
src/ConsoleHost.Web/obj/*
src/ConsoleHost.Common/obj/*
src/ConsoleHost.Common/bin/*
src/ConsoleHost.Web/StyleCop.Cache
src/ConsoleHost.Web/Web.config.private
obj/*
.vs/*
*.suo
*.cache
*.dll
*.pdb
/src/Common.Logging/obj/Debug
/src/Common.Web.Syndication/bin
/src/Common.Web.Syndication/obj
/src/MinecraftServer.Status.Web/bin
/src/MinecraftServer.Status.Web/obj
/src/MinecraftServer.Status.Web/MinecraftServer.Status.Web.csproj.user
/src/packages
/src/MCPing/bin/Debug
/src/MCPing/MCPing.csproj.user
/src/MCPing/obj/Debug
/src/Minecraft.Management/obj/Debug
/src/Minecraft.Management/bin/Debug
/src/MCPing/obj/Release
/src/Minecraft.Management/bin/Release
/src/Minecraft.Management/obj/Release
*.pubxml.user
/src/MCPlayer/bin/Debug
*.user
/src/MCPlayer/obj/Debug
/src/MCPlayer/obj/Release
/src/ConsoleHost.Utility/obj/Debug
/src/Common.Logging/bin/Debug
/src/Common.Logging.Test/bin/Debug
/src/Common.Logging.Test/obj/Debug
/src/MinecraftServer.Service/bin/Debug
/src/MinecraftServer.Service/obj/Debug
/src/TestResults/
/src/ConsoleHost.Utility/bin/Debug
/src/Common.Web.Owin/bin/Debug
/src/Common.Web.Owin/obj/Debug
/src/Common.Web.Server/obj/Debug
/src/Common.Web.Owin.Middleware/bin/Debug
/src/Common.Web.Owin.Middleware/obj/Debug
