<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.html"/>
        <add value="Index.html"/>
        <add value="Index.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>