<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="consolehost.web" type="ConsoleHost.Web.Configuration.RootSection, ConsoleHost.Web"/>
  </configSections>
  <system.web>
    <compilation targetFramework="4.0" />
    <httpModules>
      <add name="AuthorizationModule" type="ConsoleHost.Web.AuthorizationModule, ConsoleHost.Web"/>
    </httpModules>
  </system.web>
  <consolehost.web>
    <authorization>
      <allow>
      </allow>
      <deny>
        
      </deny>
    </authorization>
  </consolehost.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.html"/>
        <add value="Index.html"/>
        <add value="Index.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>