<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Program" value="cmd.exe"/>
    <add key="Arguments" value="/k"/>
    <add key="StopCommand" value="exit"/>
  </appSettings>
</configuration>
