@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Minecraft Server</title>
    <link href="feed" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed" />
</head>
<body>
    <h1>Minecraft Server Status</h1>
    <div>
        <a href="feed">Server Events Feed.</a>
    </div>
</body>
</html>
